{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block content %}
<div class="register_form">
    <h3>Réinitialisez votre mot de passe ici ⚙️</h3>
    <br />
    <p>Vous avez oublié votre mot de passe ?</p>
    <p>
        Veuillez entrer votre adresse éléctronique (communiqué lors de votre inscription) ci-dessous.
    </p>
    <p>
        Nous vous enverrons les instructions à suivre par email, afin de réinitialiser votre mot de passe.
    </p><br />
    <form method="post">
        {% csrf_token %}
        {{form}}
        <input type="submit" name="Envoyer email">
    </form>

</div>
{% endblock %}